<h1>Users</h1>
<table>
  <head>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </head>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag @user, :profile_image, size: "60x60", farmat: 'jpg', fallback: "no_image.jpg" %></td>
      <td><%= user.name %></td>
      <td><%= link_to "Show" %></td>
    </tr>
    <% end %>
  </tbody>
</table>